<?php
/**
 * GamificationLeaderboardsApi
 * PHP version 5
 *
 * @category Class
 * @package  KnetikCloud
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Knetik Platform API Documentation latest
 *
 * This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com
 *
 * OpenAPI spec version: latest
 * Contact: support@knetik.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace KnetikCloud\Api;

use \KnetikCloud\ApiClient;
use \KnetikCloud\ApiException;
use \KnetikCloud\Configuration;
use \KnetikCloud\ObjectSerializer;

/**
 * GamificationLeaderboardsApi Class Doc Comment
 *
 * @category Class
 * @package  KnetikCloud
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class GamificationLeaderboardsApi
{
    /**
     * API Client
     *
     * @var \KnetikCloud\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \KnetikCloud\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\KnetikCloud\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \KnetikCloud\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \KnetikCloud\ApiClient $apiClient set the API client
     *
     * @return GamificationLeaderboardsApi
     */
    public function setApiClient(\KnetikCloud\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getLeaderboard
     *
     * Retrieves leaderboard details and paginated entries
     *
     * @param string $context_type The context type for the leaderboard (required)
     * @param string $context_id The context id for the leaderboard (required)
     * @param int $size The number of objects returned per page (optional, default to 25)
     * @param int $page The number of the page returned, starting with 1 (optional, default to 1)
     * @param string $order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (optional, default to score:DESC,updated:ASC,user_id:ASC)
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return \KnetikCloud\Model\LeaderboardResource
     */
    public function getLeaderboard($context_type, $context_id, $size = null, $page = null, $order = null)
    {
        list($response) = $this->getLeaderboardWithHttpInfo($context_type, $context_id, $size, $page, $order);
        return $response;
    }

    /**
     * Operation getLeaderboardWithHttpInfo
     *
     * Retrieves leaderboard details and paginated entries
     *
     * @param string $context_type The context type for the leaderboard (required)
     * @param string $context_id The context id for the leaderboard (required)
     * @param int $size The number of objects returned per page (optional, default to 25)
     * @param int $page The number of the page returned, starting with 1 (optional, default to 1)
     * @param string $order A comma separated list of sorting requirements in priority order, each entry matching PROPERTY_NAME:[ASC|DESC] (optional, default to score:DESC,updated:ASC,user_id:ASC)
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return array of \KnetikCloud\Model\LeaderboardResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function getLeaderboardWithHttpInfo($context_type, $context_id, $size = null, $page = null, $order = null)
    {
        // verify the required parameter 'context_type' is set
        if ($context_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $context_type when calling getLeaderboard');
        }
        // verify the required parameter 'context_id' is set
        if ($context_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $context_id when calling getLeaderboard');
        }
        // parse inputs
        $resourcePath = "/leaderboards/{context_type}/{context_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($size !== null) {
            $queryParams['size'] = $this->apiClient->getSerializer()->toQueryValue($size);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($order !== null) {
            $queryParams['order'] = $this->apiClient->getSerializer()->toQueryValue($order);
        }
        // path params
        if ($context_type !== null) {
            $resourcePath = str_replace(
                "{" . "context_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($context_type),
                $resourcePath
            );
        }
        // path params
        if ($context_id !== null) {
            $resourcePath = str_replace(
                "{" . "context_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($context_id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\KnetikCloud\Model\LeaderboardResource',
                '/leaderboards/{context_type}/{context_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\KnetikCloud\Model\LeaderboardResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KnetikCloud\Model\LeaderboardResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KnetikCloud\Model\Result', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getLeaderboardRank
     *
     * Retrieves a specific user entry with rank
     *
     * @param string $context_type The context type for the leaderboard (required)
     * @param string $context_id The context id for the leaderboard (required)
     * @param string $id The id of a user (required)
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return \KnetikCloud\Model\LeaderboardEntryResource
     */
    public function getLeaderboardRank($context_type, $context_id, $id)
    {
        list($response) = $this->getLeaderboardRankWithHttpInfo($context_type, $context_id, $id);
        return $response;
    }

    /**
     * Operation getLeaderboardRankWithHttpInfo
     *
     * Retrieves a specific user entry with rank
     *
     * @param string $context_type The context type for the leaderboard (required)
     * @param string $context_id The context id for the leaderboard (required)
     * @param string $id The id of a user (required)
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return array of \KnetikCloud\Model\LeaderboardEntryResource, HTTP status code, HTTP response headers (array of strings)
     */
    public function getLeaderboardRankWithHttpInfo($context_type, $context_id, $id)
    {
        // verify the required parameter 'context_type' is set
        if ($context_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $context_type when calling getLeaderboardRank');
        }
        // verify the required parameter 'context_id' is set
        if ($context_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $context_id when calling getLeaderboardRank');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getLeaderboardRank');
        }
        // parse inputs
        $resourcePath = "/leaderboards/{context_type}/{context_id}/users/{id}/rank";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($context_type !== null) {
            $resourcePath = str_replace(
                "{" . "context_type" . "}",
                $this->apiClient->getSerializer()->toPathValue($context_type),
                $resourcePath
            );
        }
        // path params
        if ($context_id !== null) {
            $resourcePath = str_replace(
                "{" . "context_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($context_id),
                $resourcePath
            );
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\KnetikCloud\Model\LeaderboardEntryResource',
                '/leaderboards/{context_type}/{context_id}/users/{id}/rank'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\KnetikCloud\Model\LeaderboardEntryResource', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KnetikCloud\Model\LeaderboardEntryResource', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KnetikCloud\Model\Result', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getLeaderboardStrategies
     *
     * Get a list of available leaderboard strategy names
     *
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return string[]
     */
    public function getLeaderboardStrategies()
    {
        list($response) = $this->getLeaderboardStrategiesWithHttpInfo();
        return $response;
    }

    /**
     * Operation getLeaderboardStrategiesWithHttpInfo
     *
     * Get a list of available leaderboard strategy names
     *
     * @throws \KnetikCloud\ApiException on non-2xx response
     * @return array of string[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getLeaderboardStrategiesWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/leaderboards/strategies";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'string[]',
                '/leaderboards/strategies'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'string[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KnetikCloud\Model\Result', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
